@tailwind base;
@tailwind components;
@tailwind utilities;

.pin_container {
  margin: 0;
  padding: 0;
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-auto-rows: 10px;
  justify-content: center;
}

.card {
  margin: 15px 10px;
  padding: 0;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  grid-row-end: span 45;
}
